html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
}

div.canvas {
    margin-left: auto;
    margin-right: auto;
}

#playfield {
    border: 1px solid grey;
    z-index: 1;
}

#grids {
    position: absolute;
    z-index: 0;
}