html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}

.middle {
    border: 1px solid rgb(100, 100, 100);
}

.left {
    float: right;
}

.right {
    float: left;
}

.left, .right {
    margin: 20px;
    padding: 20px;
}

#icon,
#instructions,
#scores,
#holdQueue,
#previewPane {
    padding: 30px;
    border: 1px solid rgb(100, 100, 100);
}

#instructions,
#scores {
    margin-top: 30px;
    margin-bottom: 30px;
}

#timeElapsed {
    font-size: 30px;
}

#playfield {
    z-index: 1;
}

#grids {
    position: absolute;
    z-index: 0;
}

#pauseMenu {
    display: none;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 20, 0.6);
    text-align: center;
    font-size: 50px;
}

#pauseMenuContent {
    position: relative;
    top: 25%;
    margin: auto;
}

#pauseMenu button {
    display: block;
    margin: 20px auto;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

#pauseMenu button:hover {
    color: lightgrey;
}