html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vmin;
    color: white;
}

.middle {
    border: 1px solid rgb(100, 100, 100);
}

.left {
    float: right;
}

.right {
    float: left;
}

.left, .right {
    padding: 20px;
}

#icon,
#instructions,
#scores,
#holdQueue,
#previewPane {
    box-sizing: border-box;
    padding: 2.5vh;
    border: 1px solid rgb(100, 100, 100);
}

#icon {
    height: 8vh;
}

#instructions {
    height: 42vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
} 

#scores {
    height: 26vh;
}

#timeElapsed {
    font-size: 3.5vh;
}

#holdText,
#nextText {
    text-align: center;
}

#playfield {
    z-index: 1;
}

#grids {
    position: absolute;
    z-index: 0;
}

#pauseMenu,
#gameOverScreen {
    display: none;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 20, 0.6);
    /* responsive font size */
    /* https://css-tricks.com/viewport-sized-typography */
    text-align: center;
    font-size: 7vh;
}

#pauseMenuContent,
#gameOverScreenContent {
    position: relative;
    top: 23vh;
    margin: auto;
}

#pauseMenu button,
#gameOverScreen button {
    display: block;
    margin: 20px auto;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5vh;
}

#pauseMenu button:hover,
#gameOverScreen button:hover {
    color: lightgrey;
}

::selection {
    background: transparent;
}